In [5]:
# Import the Pandas library
import pandas as pd

# Create the DataFrame
aapl_returns = pd.DataFrame({"AAPL": [0.5, 0.56, 0.59, 0.52, 0.1, 0.75, 0.47]})

In [6]:
# Display the last three elements of the aapl_returns DataFrame
aapl_returns.tail(3)

   AAPL
4  0.10
5  0.75
6  0.47

In [7]:
# Use the iloc function and the range syntax to return the last three elements of the aapl_returns DataFrame
aapl_returns.iloc[4:7]

   AAPL
4  0.10
5  0.75
6  0.47

In [15]:
# Use the iloc function and the range syntax to return the last three elements of the aapl_returns DataFrame
# Use a different form of range syntax than before
aapl_returns.iloc[-3:7]

   AAPL
4  0.10
5  0.75
6  0.47