In [1]:
# Import the Pandas library
import pandas as pd

# Import the numpy library
import numpy as np

daily_returns = pd.DataFrame(
    np.random.randn(10, 2),
    index=pd.date_range('1/1/2020', periods=10),
    columns=["AAPL", "GOOG"])
daily_returns.head()

                AAPL      GOOG
2020-01-01  1.579860  0.136880
2020-01-02 -0.333407  0.364947
2020-01-03  0.524718  0.530206
2020-01-04 -0.167280  1.144069
2020-01-05 -0.147377 -1.860470

In [5]:
# Modify the code to select the first row of the second column
daily_returns.iloc[0, 1]

0.1368802322869555